.blogs-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../../../public/Images/contact-header-img.avif");
  background-position: center;
  background-size: cover;
  color:#fff;
  object-fit: cover;
}

.blog-left{
  flex-basis: 65%;
}
.blog-right{
  flex-basis: 32%;
}